[Unit]
Description=Zixclip clipboard manager
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/vxwmdots/scripts/zixclip
Restart=always
RestartSec=1
Environment="DISPLAY=:0"

[Install]
WantedBy=graphical-session.target
